body{
	margin: 0px auto;
	padding: 0px;
	height: 100%;
	width: 100%;
}
h1{
	text-align: center;
}
table,th{
	margin: 0px auto;
	height: 50%;
	width: 30%;
	border: solid 1px #28D5D6FF;
	border-collapse: collapse;
}
td{
	border: solid 1px green;
	width: 40%;
}